@model Absolute_Cinema.Models.Dtos.MoviesDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="movieForm" onsubmit="SendData(event)">
            
            <label> Название</label>
            <input type="text"  asp-for="Name" class="form-control" />

            <label> Описание</label>
            <input type="text"  asp-for="Description" class="form-control" />

            <button type="submit">Создать</button>
        </form>
    </div>
</div>

<div>
    <a  asp-controller ="Home" asp-action="Index" class="text-black text-decoration-none">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/CreatePage.js"></script>