@using Absolute_Cinema.ViewModels
@{
    ViewData["Title"] = "Фильмы";
}
@model ViewMovies
<div>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SelectedMovie != null)
            {
                @await Html.PartialAsync("_PartialMain", Model);
            }
            else
            {
                @await Html.PartialAsync("_PartialMainAll", Model);
            }
        </tbody>
    </table>

    <h2>Выберите нужный фильм</h2>
    <form asp-controller="Movies" asp-action="Main">
        <input type="number" name="id" min="1" />
        <button type="submit">Показать</button>
        <a class="text-black text-decoration-none" href="https://localhost:7271/Movies/Main">Назад к списку</a>
    </form>
</div>

<script src="/js/MainPage.js"></script>